.c3-ygrid-line.grid_neutral line {
    stroke: light grey;
    stroke-dasharray: 5,5;
    z-index: -1;
}

.c3-ygrid-line.grid_neutral text {
    fill: light grey;
}

.c3-ygrid-line.grid_positive text {
    fill: green;
}
.c3-ygrid-line.grid_negative text {
    fill: red;
}

.c3-ygrid-line.grid_positive line {
    stroke: green;
}

.c3-ygrid-line.grid_negative line {
    stroke: red;
}